@page "/"
@using PizzaBlazor.Shared.Models;
<PageTitle>Inicio</PageTitle>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        background-color: #BFDFF5;
        background-image: url('1683892785-granos-de-cafe.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        border-radius: 10px;
    }

   
 
</style>



<div class="container mt-5">
    <div>
        <h1 class="display-3">BIENVENIDO A LA COFFEE SHOP</h1>
        <p class="lead">EXPLORA NUESTRO MENÚ PARA HACER TU ORDEN</p>
        <a class="btn btn-primary btn-lg" href="/Login" role="button">Explorar el Menú</a>
    </div>
</div>

